/* 
  Display:
    - display
    - align
    - flexbox
    - gridbox (TODO)
*/

/* Display */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-grid {
  display: grid;
}
.d-inline {
  display: inline;
}
.d-contents {
  display: contents;
}
.d-hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

/* Align Items */
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-baseline {
  align-items: baseline;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

/* Flex Utlitites */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

/* Flex Items */
.flex-grow {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-basis-0 {
  flex-basis: 0;
}

/* Flex Gap */
.gap-xxxxs {
  gap: var(--space-xxxxs);
}
.gap-xxxs {
  gap: var(--space-xxxs);
}
.gap-xxs {
  gap: var(--space-xxs);
}
.gap-xs {
  gap: var(--space-xs);
}
.gap-sm {
  gap: var(--space-sm);
}
.gap-md {
  gap: var(--space-md);
}
.gap-lg {
  gap: var(--space-lg);
}
.gap-xl {
  gap: var(--space-xl);
}
.gap-xxl {
  gap: var(--space-xxl);
}
.gap-xxxl {
  gap: var(--space-xxxl);
}
.gap-xxxxl {
  gap: var(--space-xxxxl);
}
.gap-0 {
  gap: 0px;
}

/* TODO: Gridbox Utitlites */
