.grid-container {
  margin-left: auto;
  margin-right: auto;
}
/* grid-row */
.grid-row {
  display: flex;
  flex-wrap: wrap;
}

/* grid-cols */

.grid-col {
  flex: 1 1 0%;
  width: auto;
  max-width: 100%;
  min-width: 1px;
}

.grid-col-auto {
  flex: 0 1 auto;
  width: auto;
  max-width: 100%;
}

.grid-col-fill {
  flex: 1 1 0%;
  width: auto;
  max-width: 100%;
  min-width: 1px;
}

.grid-col-1 {
  flex: 0 1 auto;
  width: 8.3333333333%;
}

.grid-col-2 {
  flex: 0 1 auto;
  width: 16.6666666667%;
}

.grid-col-3 {
  flex: 0 1 auto;
  width: 25%;
}

.grid-col-4 {
  flex: 0 1 auto;
  width: 33.3333333333%;
}

.grid-col-5 {
  flex: 0 1 auto;
  width: 41.6666666667%;
}

.grid-col-6 {
  flex: 0 1 auto;
  width: 50%;
}

.grid-col-7 {
  flex: 0 1 auto;
  width: 58.3333333333%;
}

.grid-col-8 {
  flex: 0 1 auto;
  width: 66.6666666667%;
}

.grid-col-9 {
  flex: 0 1 auto;
  width: 75%;
}

.grid-col-10 {
  flex: 0 1 auto;
  width: 83.3333333333%;
}

.grid-col-11 {
  flex: 0 1 auto;
  width: 91.6666666667%;
}

.grid-col-12 {
  flex: 0 1 auto;
  width: 100%;
}
