/* 
  List
*/

/* 
  Content:
  Stacked
  Horizontal
  Active
*/

.list {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--dark-lightest);
  border-radius: var(--radius-md);
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.list-title {
  margin-top: 0.5rem;
  font-weight: 500;
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-lightest);
}

.list-item {
  padding: 0.5rem;
  padding-left: 1rem;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

.list-item:hover,
.list-item:focus {
  background-color: var(--primary-lightest);
}

.list-item-active {
  background-color: var(--primary-lighter);
}

.list-item-disabled {
  color: var(--dark-lightest);
  cursor: default;
}
.list-item-disabled:hover,
.list-item-disabled:focus {
  background-color: transparent;
}

/* Horizontal */
.list-horizontal {
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.list-horizontal > .list-title {
  border-bottom: 0;
  border-right: 1px solid var(--dark-color);
}
