/* 
  Modal
*/

.modal {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  max-width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: var(--space-xxl);
  min-height: var(--space-xl);

  border: 1px solid var(--dark-lightest);
  border-radius: var(--radius-md);
  box-shadow: var(--box-shadow-sm);
  background-color: var(--light-light);
}

.modal-header {
  order: 0;
  border-bottom: 1px solid var(--dark-lightest);
  padding: var(--space-xxs);
}

.modal-main {
  order: 1;
  flex-grow: 1;
  padding: var(--space-xxs);
}

.modal-footer {
  order: 2;
  border-top: 1px solid var(--dark-lightest);
  padding: var(--space-xxs);
}

.modal .modal-close {
  position: absolute;
  cursor: pointer;
  top: 1%;
  right: 1%;
}

.modal .modal-close:hover {
  opacity: 80%;
}
